<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css/"
	th:href="@{css/bootstrap.min.css}" />
<head>
<title>Query list</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-inverse">
 <div class="container-fluid">
    <div class="navbar-header">
<a class="navbar-brand" href="/">Query Application</a>
</div>
</div>
</nav>
<br>
<h1>Add question</h1>
<br>
		<form th:object="${question}" th:action="@{/saveQuestion}" action="#" method="post">
			<label for="question">Question</label> 
			 <input type="text" id="text"
				th:field="*{text}" />
			<div style="clear: both; display: block; height: 10px;"></div> 
			<input type="hidden" id="id" th:field="${question.query.id}">
			<input type="submit" value="Save"></input>
			<a class href="/querylist">Cancel</a>
		</form>
</body>
</html> 

	