<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css/"
	th:href="@{css/bootstrap.min.css}" />
<head>
<title>Query list</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-inverse">
 <div class="container-fluid">
    <div class="navbar-header">
<a class="navbar-brand" href="/">Query Application</a>
</div>
 <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/querylist">Queries</a>
    </li>
    </ul>
</div>
</nav>
<br>

	<h1>Queries</h1> 
		<table>
		<tr>
		    <th>Query Name</th> 
		    
		</tr>   
		<tr th:each = "query : ${queries}">
    		<td th:text="${query.name}"></td> 	  
    		<td><a th:href="@{questionlistbyquery/{id}(id=${query.id})}" class="btn btn-xs btn-warning">Show questions</a></td> 
    		<td><a th:href="@{querylist/{id}/questionlist/addQuestion(id=${query.id})}" class="btn btn-xs btn-warning">Add question</a></td>
    	<!-- <a th:href="@{/questionlist}" class="btn btn-xs btn-warning">Open Query</a>
    	<a href="#section2">Go to Section 2</a> 
    	
    	query/{id}(id=${query.id}) -->	
    	</tr>  
 
		</table> 
		<br>
	 <a class="btn btn-success" href="/addQuery">Add Query</a>
</body>
</html>