<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css/"
	th:href="@{css/bootstrap.min.css}" />
<head>
<title>Query list</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Queries</h1> 
		<table>
		<tr>
		    <th>Query Name</th> 
		    <th>Questions</th>
		</tr>   
		<tr th:each = "query : ${queries}">
    		<td th:text="${query.name}"></td> 	
    		<td th:text="${query.question}"></td> 	
    	</tr> 
	</table>
	 <a class="btn btn-success" href="/addQuery">Add Query</a>
</body>
</html>